<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:replace="layout :: head">
</head>

<body style="background: white;">

    <div id="wrapper">

        <!-- Navigation -->
        <div th:replace="layout :: nav"></div>
        
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                  <div class="row">	
				
                 <div class="col-lg-12">
                    <h1 class="page-header" th:text="${polling.judul_polling}">
                     </h1><br/>
                     <div class="row">
	                     <div class="col-lg-9">
	                     	<div th:if="${polling.foto}">
	                     	<img th:src="${'/image/polling/'+polling.foto}" alt="" style="width:100%;height:35em"/>
	                     	<br/><br/><hr/><br/>
	                     	</div>
	                     	<div  class="lib-row lib-desc">
								<p th:utext="${polling.isi_polling}"></p>
						
							</div><!-- end .entry-content -->
	                     </div>
					</div>	
                  </div>
             </div><br/>
                <!-- /.row -->
        		</div>
        		
        	
          </div>
      </div>
 	
 	<!-- jQuery -->
    <div th:replace="layout :: script"></div>
 <style>
 h5 {
  white-space: pre;
 }
 
</style>	
 </body>
 </html>