<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <title>OSIS SMA</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/konten.css}" rel="stylesheet"/>
	<link th:href="@{/css/default.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/home.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet"/>

    <!-- Morris Charts CSS -->
    <link th:href="@{/css/plugins/morris.css}" rel="stylesheet"/>
	<link th:href="@{/css/modal.css}" rel="stylesheet" media="screen"/>
    <!-- Custom Fonts -->
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

</head>

<body style="background: white;">

    <div id="wrapper">

        <!-- Navigation -->
    <div th:replace="index:: nav"></div>
      </div> 
      <div class="col-4">
		
			
    
			 
	  	<form th:action="@{/createSekolah}" method="post">
	  	<div class="login-box">
					<div class="login-box-body" style="border: 2px solid #eee">
							<h3 class="login-box-msg"><img src="/image/osis_sma.png" width="70px"/><br/>OSIS SMA</h3>
							<hr/>
									<b>Upload file anggota OSIS SMA (format .csv)</b>
							<div class="form-group has-feedback">
								<div class="form-group field-configform-username required">
									<p th:if="${registerError}" class="alert alert-danger alert-dismissable">Wrong File!</p>

		<br></br>
        <input type="file"></input>
        <br></br>
        <input type="hidden" name="csvname" id="csvname"></input>
        
        <input type="hidden" name="nama_sekolah" id="nama_sekolah" th:value="${namaSekolah}"></input>
        <br></br>
        <input type="submit" value="submit" class="btn btn-primary btn-block btn-flat"></input>
        </div>
		</div>
		</div>
		</div>
    </form>
			
		</div>
         
      
        <div id="page-wrapper">
			<div class="row">
				 <div class="col-lg-2">
                	</div>	
				
     
             </div><br/>
            
      </div>

 	
 	<!-- jQuery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
	
 </body>
 <script type="text/javascript">
    $(document).ready(function(){
        $('input[type="file"]').change(function(e){
            $fileName = e.target.files[0].name;
            $('#csvname').val($fileName);
        });
    });
</script>
 </html>