<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <title>OSIS SMA</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/css/konten.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/css/default.min.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/css/home.css}" rel="stylesheet" media="screen"/>
    <!-- Custom CSS -->
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet" media="screen"/>

    <!-- Morris Charts CSS -->
    <link th:href="@{/css/plugins/morris.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" media="screen"/>

</head>

<body class="hold-transition login-page" style="background: white;">
		<div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
				<ul class="nav navbar-nav navbar-left">
                	<li><img width="40" class="lib-img-show" src="/image/osis_sma.png"/></li>              
                	<li><a class="navbar-brand" href="/">OSIS SMA</a></li>
                </ul>
            </div>
            <!-- Top Menu Items -->
            <div class="navbar-collapse collapse">
            <ul class="nav navbar-right top-nav">

                     <li class="active"><a href="/index">Home</a>
           			  </li>

                     <li class="dropdown">
                      	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pengumuman <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"  data-target="#squarespaceModal"><i class="fa fa-bullhorn"></i> Lihat Pengumuman</a>
                            </li>
                              <li>
                                <a href="#" data-toggle="modal" data-target="#squarespaceModal"><i class="fa fa-bullhorn"></i> Buat Pengumuman</a>
                            </li>
                        </ul>
                      </li>
                      
                      
                      
                      <li class="dropdown">
                      	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Polling <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-toggle="modal" data-target="#squarespaceModal"><i class="fa fa-fw fa-child"></i> Ikuti Polling </a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#squarespaceModal"><i class="fa fa-fw fa-child"></i> Tambahkan Polling </a>
                            </li>
                            
                             <li>
                                <a href="#" data-toggle="modal" data-target="#squarespaceModal"><i class="fa fa-fw fa-child"></i> Hasil Polling </a>
                            </li>
                           
                        </ul>
                      </li>
                      
                      
                      
              		<li class="dropdown">
                      	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Forum <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-toggle="modal" data-target="#squarespaceModal"><i class="fa fa-newspaper-o"></i>Ikuti Forum</a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#squarespaceModal"><i class="fa fa-newspaper-o"></i> Tambahkan Forum</a>
                            </li> 
                           
                        </ul>
                      </li>
                      
                   <li>
                       <a href="" data-toggle="modal" data-target="#squarespaceModal1"><i class="fa fa-fw fa-user"></i>  Konfigurasi</a>
                   </li>     
         
                   <li>
                       <a href="/login" data-target="#squarespaceModal"><i class="fa fa-fw fa-user"></i>Login</a>
                   </li>
      
                      
                      
                      
                      
                      
                    </ul>
                    
             </div>
        </nav>
      </div>
	
	  <!-- Modal for Login-->
	  	<form id="login-form" action="/user/login" method="post">
			<div class="login-box">
					<div class="login-box-body" style="border: 2px solid #eee">
							<h3 class="login-box-msg"><img src="/image/osis_sma.png" width="70px"/><br/>OSIS SMA</h3>
							<hr/>
							<div class="form-group has-feedback">
								<div class="form-group field-loginform-username required">
									<p th:if="${loginError}" class="alert alert-danger alert-dismissable">Wrong username or password!</p>
									<label class="control-label" for="loginform-username">Username</label>
									<input type="text" id="username" class="form-control" name="username" aria-required="true"/>
											
									<div class="help-block"></div>
								</div>                
								<div class="form-group field-loginform-password required">
									<label class="control-label" for="loginform-password">Password</label>
									<input type="password" id="password" class="form-control" name="password" aria-required="true"/><br/>
							
								
									<div class="help-block"></div>
								</div>           
							</div>
							<div class="row">
								<div class="col-xs-8">
											                   
								</div>
								<div class="col-xs-12">
									<button type="submit" id="btn_submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
								</div><!-- /.col -->
							</div>
				</div><!-- /.login-box-body -->
			</div>
		</form>
 
 	<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
						<b><p class="modal-title" id="lineModalLabel">Anda perlu login terlebih dahulu</p></b>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" th:object="${user}" th:action="@{'/create/user'}" method="post" enctype="multipart/form-data">
							
						</form>
					</div>
				</div>
			</div>
		</div>
 	
 	
 	<div class="modal fade" id="squarespaceModal1" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
						<b><p class="modal-title" id="lineModalLabel">Anda telah melakukan konfigurasi </p></b>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" th:object="${user}" th:action="@{'/create/user'}" method="post" enctype="multipart/form-data">
							
						</form>
					</div>
				</div>
			</div>
		</div>
 	<!-- jQuery -->
    <script th:src="@{/js/jquery.js}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
	
 </body>
 </html>